---
layout: default

banner:
  title: Bem vindo ao<br />Snakin' Around!
  tagline: De tudo o que eu faço, um pouco =D
  body:
    - Por muito tempo eu quis ter um blog.
      Mas só querer não leva a gente a lugar
      nenhum, não é mesmo?
    - Então resolvi juntar todas as idéias aqui,
      colar a bunda na cadeira e finalmente escrever
      sobre as coisas que fazem parte do meu dia a dia.
    - De quebra, vou aprendendo mais um bocado!

features:
- title: Programação
  icon: fa-terminal
  excerpt: >
    Trabalhos/estudos. Meu caderno de anotações
    e meio para compartilhar conhecimentos.

- title: Fotografia
  icon: fa-camera-retro
  excerpt: >
    Um pequeno recorte dos meus melhores cliques.
    Paisagens, objetos, criaturinhas e tudo mais.

- title: Música
  icon: fa-music
  excerpt: >
    Videos, músicas, cifras e coisas do tipo.
    Violão, gaitas, flautas, ukulele, escaleta, e outros.

- title: Jogos
  icon: fa-gamepad
  excerpt: >
    Card games, Board games, Video games, e etc. Principalmente
    Magic: The Gathering e Pokémon TCG.

posts:
- image: /images/pic01.jpg
  title: Interdum aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic02.jpg
  title: Nulla amet dolore
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic03.jpg
  title: Tempus ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic04.jpg
  title: Sed etiam facilis
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic05.jpg
  title: Feugiat lorem aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic06.jpg
  title: Amet varius aliquam
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
---

<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>{{ page.banner.title }}</h1>
        <p>{{ page.banner.tagline }}</p>
      </header>
      {% for paragraph in page.banner.body %}
        <p>{{ paragraph }}</p>
      {% endfor %}
      <ul class="actions">
        <li><a href="{{ site.baseurl }}/blog" class="button big">Acesse o blog o/</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="{{ site.baseurl }}/images/ukulele.png" alt="" />
    </span>
  </section>

<!-- Section -->
<section>
    <header class="major">
      <h2>Últimas publicações</h2>
    </header>
    <!-- Posts -->
      <div class="posts">

        {% for post in site.posts limit:10 %}

          <article>
            <a href="{{ site.baseurl }}{{ post.url }}" class="image"><img src="{{ site.baseurl }}{{ post.image }}" alt="" /></a>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt | remove: "<p>" | remove: "</p>" }}</p>
          </article>

        {% endfor %}

      </div>
  </section>

<!-- Section -->
  <section>
    <header class="major">
      <h2>Categorias</h2>
    </header>
    {% include components/features.html features=page.features %}
  </section>
